/***** Basic Styles *****/

@font-face {
	font-family:'WisdomScriptAIRegular';
	src: url('wisdom_script-webfont.woff2') format('woff2'),
		url('font/wisdom_script-webfont.woff') format('woff'),
		url('font/wisdom_script-webfont.ttf') format('truetype');
}

body {
	background: url('http://i284.photobucket.com/albums/ll14/britishpandachick/background_zpstptg7dlc.png');
	width: 100%;
	height: 100%;
}

/***** Header *****/

#logo {
	text-align: center;
	display: block;
	margin: 30px auto;
	max-width: 100%;
}

.header h1 {
	font-family: 'Noticia Text';
	text-align: center;
	color: #ff6666;
	margin: 0 auto;
	font-size: 125%;
	max-width: 850px;
}

/***** Paper Section *****/

#paper {
	background: url('http://i284.photobucket.com/albums/ll14/britishpandachick/paper_zpsrxdmtedn.png') no-repeat center top;
	margin: 30px auto 0 auto;
	height: 375px;
}

#sign-up {
	text-align: center;
}

#sign-up h2 {
	font-family: 'Leckerli One', cursive;
	font-size: 25px;
	padding-top: 50px;
}

#sign-up h3 {
	text-transform: uppercase;
	font-family: 'Noticia Text';
	color: #ff3855;
	font-weight: bold;
	margin-top: 100px;
	letter-spacing: 1px;
	font-size: 30px;
}

#signupform {
	margin: 20px auto 0 auto;
	text-align: center;
}

#email {
	color: #000;
	font-size: 120%;
	background-color: #fefefb;
	border: solid #c4bfab 2px;
	width: 500px;
	padding: 15px;
	border-radius: 5px 0 0 5px;
}

#button {
	text-transform: uppercase;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	color: #fff0dc;
	background: #ff3855;
	border: none;
	border-radius: 0 5px 5px 0;
	padding: 17px 50px;
	margin-left: -5px;
}

/***** Blogposts section *****/

#blogposts {
	background: #ff3855;
	width: 100%;
	margin-top: -30px;
	padding: 50px;
	overflow: auto;
}

#blogposts h2 {
	text-align: center;
	color: #333333;
	font-family: 'Leckerli One', cursive;
	padding-bottom: 20px;
}

#post1 {
	padding-bottom: 20px;
}

#post2 {
	padding-bottom: 20px;
}

#post3 {
	padding-bottom: 20px;
}

/***** About Section *****/

#info {
	background: #333333;
	width: 100%;
	padding: 50px;
	overflow: auto;
}

#about {
	float: left;
	width: 60px;
	padding-bottom: 20px;
}

#contact {
	float: right;
	width: 550px;
}

#touch_form {
	padding-top: 20px;
}

#name {
	background: #fff0dc;
	padding: 10px;
	margin-right: 10px;
	float: left;
	width: 200px;
	border: none;
	border-radius: 3px;
	font-size: 90%;
}

#e-mail {
	background: #fff0dc;
	border: none;
	border-radius: 3px;
	padding: 10px;
	width: 200px;
	float: left;
	font-size: 90%;
}

#reason {
	background: #fff0dc;
	border: none;
	border-radius: 3px;
	width: 410px;
	padding: 10px;
	font-size: 90%;
	margin-top: 10px;
}

#comments {
	background: #fff0dc;
	border: none;
	border-radius: 3px;
	font-size: 90%;
	margin-top: 10px;
	width: 410px;
	padding: 10px 10px 75px 10px;
}

#submit {
	background: #d8d1a9;
	color: #333333;
	border: none;
	border-radius: 3px;
	padding: 5px 20px;
	font-size: 90%;
	font-weight: bold;
	float: right;
	margin-right: 110px;
	margin-top: 15px;
}

/***** Footer *****/

footer {
	background: #ff3855;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 11px;
}
